body {
	background-color: #dddddd;
	width: 960px;
	margin: 0 auto;
}

#header {
	background-color: white;
}

#head_left {
	color: #efefef;
	margin-left: 50px;
	font-family: Georgia, Times, Times New Roman, serif;
	margin-top: 30px;
	font-size: 40px;
	border: 1px solid #4aaaa5;
	background-color: #4aaaa5;
	display: inline;
}

#head_right {
	float: right;
	font-size: 20px;
	margin-top: 10px;
	margin-right: 40px;
	display: inline;
	color: #dddddd;
}

a {
	color: #dddddd;
}

#aboutMeInfo {
	border: .5px solid;
	background-color: white;
	height: 500px;
	width: 650px;
	float: left;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 50px
}

h2 {
	border-bottom: 2px solid #ebebeb;
}

#bodyHead {
	color: #4aaaaf;
	margin-left: 20px;
	padding-bottom: 10px;
}

#myPic {
	width: 200px;
	height: 200px;
	margin-left: 20px;
	display: inline-block;
	border-top: 2px solid #ebebeb;
}

#p1 {
	display: inline-block;
	width: 250px;
}

#p2 {
	margin-left: 20px;
}

.connect {
	color: #4aaaa5;
	width: 200px;
	float: right;
	margin-right: 20px;
	margin-top: 30px;
	background-color: white;
	text-align: center;
}

h3 {
	border-bottom: 2px solid #ebebeb;
}

.github {
	height: 60px;
	width: 60px;
}

.linkedin {
	height: 60px;
	width: 60px;
}

.stackoverflow {
	height: 60px;
	width: 60px;
}


#footer {
	text-align: center;
	background-color: #666666;
	color: #efefef;
	padding-top: 8px;
	padding-bottom: 8px;
	border: .5px solid black;
	border-top:;
	clear: both;
	float: bottom;
	border-top: 10px solid #4aaaa5;
}